<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/javaee https://jakarta.ee/xml/ns/javaee/web-app_4_0.xsd"
         version="5.0">

  <servlet>
    <servlet-name>AddUserServlet</servlet-name>
    <servlet-class>AddUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetUserServlet</servlet-name>
    <servlet-class>GetUserServlet</servlet-class>
  </servlet>
</web-app>